MONGO_URI=mongodb://127.0.0.1:27017/Laptop-Rental // Replace with your actual MongoDB connection string
PORT=8000
JWT_SECRET= // Replace with your actual JWT secret key
JWT_EXPIRES_IN= // Replace with your desired JWT expiration time (e.g., 7d for 7 days)
RAZORPAY_KEY_ID= // Replace with your actual Razorpay Key ID
RAZORPAY_KEY_SECRET= // Replace with your actual Razorpay Key Secret
EMAIL_USER= // Replace with your actual email address for sending emails
EMAIL_PASS= // Replace with your actual email password
