.home-container {
  background-color: #020617;
  color: white;
  padding-bottom: 40px;
}

/* SECTION */
.category-section {
  margin-top: 40px;
  padding: 0 30px;
}

.category-section h2 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 600;
}